<div [ngClass]="{'show': showAllCustomers, 'hide': !showAllCustomers}">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field>
        <input type="text" matInput placeholder="search" [formControl]="filterInput">
      </mat-form-field>
      <button mat-raised-button color="accent"
              (click)="onShowAddNewCustomer()">
        <i class="far fa-address-book"></i>
        &nbsp;&nbsp; Add new customer
      </button>
    </div>
  </mat-card>
  <mat-divider></mat-divider>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last name</th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone number</th>
      <td mat-cell *matCellDef="let element"> {{element.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="pesel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pesel</th>
      <td mat-cell *matCellDef="let element"> {{element.pesel}}</td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth date</th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address</th>
      <td mat-cell *matCellDef="let element"> {{element.address}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let row" id="actionsColumn">
        <button mat-raised-button color='warn'
                matTooltipPosition="above"
                matTooltip="Remove customer"
                (click)="onRemoveCustomer(row)">
          <i class="fas fa-user-times"></i>
        </button>
        <button mat-raised-button color='accent'
                matTooltipPosition="above"
                matTooltip="Rent history"
                (click)="onShowHistory(row)">
          <i class="fas fa-history"></i>
        </button>
        <button mat-raised-button color='accent'
                matTooltipPosition="above"
                matTooltip="Edit customer data"
                (click)="onEditCusomer(row)">
          <i class="far fa-edit"></i>
        </button>
        <button mat-raised-button color='accent'
                matTooltipPosition="above"
                matTooltip="New rent"
                (click)="onNewRent(row)">
          <i class="far fa-calendar-plus"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectClientEvent(row)"></tr>
  </table>
  <mat-paginator
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 40]">
  </mat-paginator>
</div>

<add-customer *ngIf="showAddNewCustomer"
              (onAddNewCustomerBack)="onAddNewCustomerClose()">
</add-customer>

