#actionsColumn {
  min-width: 240px !important;

  button {
    margin-right: 10px;
    line-height: 28px;
    min-width: 50px;
    float: right;
  }
}

th{
  text-align: center !important;
}

td {
  padding-right: 20px !important;
}

.mat-row:hover{
  background-color: #565656;
}


.hide{
  height: 0px !important;
}

.show{
  height: auto;
}
