/* You can add global styles to this file, and also import other style files */
@import 'src/theme.scss';


*{
  font-family: Calibri;
}

table{
  width: 100%;
  cursor: pointer;
}

h2{
  color: #b7b7b7;
}

::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}

.mat-tooltip {
  font-size: 13px !important;
}


